* {
  font-family: 'Inter', sans-serif;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  align-items: center;
  color: #101828;
}
h1 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  width: 448px;
  height: 44px;
}
p {
  margin: 15px 5px;
  color: #475467;
}

.app {
  margin: 2rem;
  /* width: 100%; */
}

/* Header */
.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header #profile__img {
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  object-fit: cover;
}

.header #twitter {
  font-weight: 700;
  font-size: 1rem;
  margin: 0.8rem 0;
}

#slack {
  display: none;
}
/* Home */
.home {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

/* Contact Form */

.form {
  /* display: flex;
  flex-direction: column; */
  /* justify-content: center; */
  margin: 20px auto;
  align-items: center;
  width: 50%;
}
.form-group {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.form-control {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}
label {
  margin-bottom: 6px;
  font-weight: 500;
}
input[type='text'] {
  padding: 10px 14px;
  border-radius: 0.5rem;
  border: 1px solid #d0d5dd;
  width: 348px;
  height: 44px;
}

input[type='email'] {
  padding: 10px 14px;
  border: 1px solid #d0d5dd;
  border-radius: 8px;
  width: 720px;
  height: 44px;
}

textarea {
  width: 720px;
  height: 132px;
  padding: 12px 14px;
  box-sizing: border-box;
  border: 1px solid #d0d5dd;
  border-radius: 4px;
  font-size: 16px;
}
input[type='checkbox'] {
  width: 20px;
  height: 20px;
}

.checkbox {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
.checkbox-control {
  margin: 20px 0px;
  display: flex;
  align-items: flex-start;
}
.checkbox-control > label {
  margin-left: 15px;
}
.first {
  margin-right: 24px;
}

#btn__submit {
  background-color: #1570ef;
  border-radius: 8px;
  color: #fff;
  border: 1px solid #1570ef;
  padding: 12px, 20px;
  border: none;
  width: 720px;
  height: 48px;
  /* margin-bottom: ; */
}

#btn__submit:focus {
  border: none;
}

::placeholder {
  color: #667085;
}
/* Button */
.link {
  width: 90%;
  height: 4.5rem;
  margin: 1.5rem auto;
  padding: 1.5rem 2rem;
  border: none;
  border-radius: 0.5rem;
  background: #eaecf0;
  font-weight: 700;
}
a:hover {
  text-decoration: solid;
}
.home__social {
  margin: 1.5rem 0 3.5rem 0;
}
.slack-img {
  margin-right: 12px;
}
/* Footer */
.footer {
  display: flex;
  padding: 48px 0px;
  width: 100%;
  height: 160px;
  justify-content: space-around;
  align-items: center;
}

.zuri-logo {
  height: 24.74px;
  width: 185.03px;
}

.zuri-title {
  color: #667085;
  font-size: 14px;
}

.ingress-logo {
  height: 32px;
  width: 132px;
}

/* Media Query */
@media only screen and (min-width: 960px) and (max-width: 1024px) {
  .header {
    margin-top: 4rem;
  }
  .link {
    width: 100%;
    /* margin: 1rem 0;
    padding: 0.5rem 1rem; */
  }
  .form {
    width: 90%;
    margin-top: 5rem;
  }

  input[type='text'] {
    width: 34vw;
  }

  input[type='email'] {
    width: 81.4vw;
  }

  textarea {
    width: 84vw;
  }

  .form-control {
    margin-top: 2rem;
  }

  .checkbox-control {
    margin: 2rem 0rem;
  }

  #btn_submit {
    width: 84vw;
  }
  .footer {
    width: 100%;
    /* padding: 10px; */
  }
}

@media only screen and (min-width: 768px) and (max-width: 959px) {
  .header {
    margin-top: 4rem;
  }
  .link {
    width: 100%;
    /* margin: 1rem 0;
    padding: 0.5rem 1rem; */
  }
  .form {
    width: 90%;
    margin-top: 5rem;
  }

  input[type='text'] {
    width: 34vw;
  }

  input[type='email'] {
    width: 80vw;
  }

  textarea {
    width: 83vw;
  }

  .form-control {
    margin-top: 2rem;
  }

  .checkbox-control {
    margin: 2rem 0rem;
  }

  #btn__submit {
    width: 83vw;
  }
  .footer {
    width: 100%;
    /* padding: 10px; */
  }
}

@media only screen and (max-width: 541px) {
  #profile__img {
    margin-top: 4rem;
  }
  .username {
    font-size: 2rem;
  }
  p {
    width: 311px;
  }

  .form {
    /* width: 100vw; */
    /* align-items: center; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 64px 0px;
    /* gap: 48px; */
    width: 375px;
    height: 884px;
  }
  .form-group {
    display: flex;
    width: 343px;

    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .form-control {
    display: flex;
    /* align-items: center; */
    justify-content: center;
    flex-direction: column;
  }

  .link {
    width: 100%;
    margin: 1rem 0;
    padding: 0.5rem 1rem;
  }
  h1 {
    width: 343px;
    height: 44px;
  }
  input[type='text'] {
    width: 343px;
    height: 44px;
    align-self: stretch;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  }
  input[type='email'] {
    width: 342px;
    box-sizing: none;
    height: 44px;
    align-self: stretch;
  }

  textarea {
    width: 343px;
    height: 132px;
  }
  #btn__submit {
    width: 343px;
    height: 44px;
  }
  /* .checkbox-control {
    width: 80vw;
  } */
  .footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 32px 17px;
  }
  .zuri-title {
    /* width: 213px; */
    height: 20px;
    margin: 16px 0px;
  }
  .zuri-logo {
    /* width: 138.77px; */
    height: 18.55px;
  }
  .first {
    margin-right: 0px;
  }
}
