a {
  text-decoration: none;
  align-items: center;
  color: #101828;
}

.app {
  margin: 2rem;
  /* width: 100%; */
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header #profile__img {
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  object-fit: cover;
}

.header #twitter {
  font-weight: 700;
  font-size: 1rem;
  margin: 0.8rem 0;
}

#slack {
  display: none;
}
.home {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}
.link {
  width: 72rem;
  height: 4.5rem;
  margin: 1.5rem auto;
  padding: 1.5rem 2rem;
  border: none;
  border-radius: 0.5rem;
  background: #eaecf0;
  font-weight: 500;
}
a:hover {
  text-decoration: solid;
}
.home__social {
  margin: 1.5rem 0 3.5rem 0;
}
.slack-img {
  margin-right: 12px;
}
.footer {
  display: flex;
  width: 100%;
  height: 10rem;
  justify-content: space-between;
  align-items: center;
}

.zuri-logo {
  height: 24.74px;
  width: 185.03px;
}

.zuri-title {
  color: #667085;
  font-size: 14px;
}

.ingress-logo {
  height: 32px;
  width: 132px;
}


@media only screen and (min-width: 768px) and (max-width: 959px) {
  .header {
    margin-top: 4rem;
  }
  .link {
    width: 98%;
    /* margin: 1rem 0;
    padding: 0.5rem 1rem; */
  }
}

@media only screen and (max-width: 540px) {
  #profile__img {
    margin-top: 4rem;
  }
  .username {
    font-size: 2rem;
  }
  .link {
    width: 100%;
    margin: 1rem 0;
    padding: 0.5rem 1rem;
  }
  .home__social {
    display: none;
  }
  .footer {
    display: none;
  }
}
